/* section Blog (start) */

.blog .blog-inner{
    padding: 122px 0 101px;
}
.blog .follow{
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog .follow-text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;
    margin-bottom: 32px;
}
.blog .follow-btn{
    font-family: 'Montserrat';
    max-width: 280px;
    padding: 20px 10px;
}

/* section Blog (end) */