/* section Blog (start) */

.blog .flower-slider{
    margin-top: 122px;
}
.blog .follow{
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog .follow-text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;
    margin-bottom: 32px;
}

/* section Blog (end) */