/* section Blog (start) */

     /* на время  */
/* .title-common:after{
    display: none; 
} */
    /* на время */


.blog .blog-inner{
    padding: 122px 0 101px;
}
.blog .follow{
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog .follow-text{
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    margin-bottom: 24px;
}

@media screen and (min-width: 768px){
    .blog .follow-text{
        font-size: 32px;
        line-height: calc(39 / 32);
        margin-bottom: 32px;
    }
}

.blog .follow-btn{
    max-width: 280px;
    padding: 20px 10px;
}



.blog .follow-btn:hover{
    background-color: var(--color-decor-hover);
}
.blog .follow-btn:focus{
    background-color: var(--color-decor-focus);
}

/* section Blog (end) */





