.delivery-container {
  padding-bottom: 175px;
}
.delivery-list {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 14px;
}

.delivery-items {
  display: flex;
  align-items: center;
}

.number {
  font-style: medium;
  font-size: 20px;
  line-height: calc(24 / 20);
  padding: 8px 16px;
  border: 1px solid var(--color-black);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.delivery-text {
  text-align: start;
  font-size: 14px;
  line-height: calc(17 / 14);
}

.delivery-img {
  margin-top: -135px;
  max-height: 135px;
  width: 100%;
}

.title-common:after {
  display: none;
}
