.backdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--main-trans), visibility var(--main-trans);
}

.backdrop.js-backdrop-modal{
  opacity: 0;
  visibility: hidden;
  transition-delay: 150ms;
}

.modal {
  opacity: 0;
  visibility: hidden;
}

.modal.active,
.backdrop.active {
  opacity: 1;
  visibility: visible;
}
