/* Section */
:root {
  --store-indent: 16px;
  --store-value: 2;
}
.store-section {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .store-section {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

/* Title */
.store-title {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .store-title {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .store-title {
    margin-bottom: 80px;
  }
}
/* Store List */
.store-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .store-list {
    gap: 40px 32px;
    margin-bottom: 60px;
  }
}

.store-item {
  width: calc((100% - var(--store-indent)) / var(--store-value));
}

@media screen and (min-width: 768px) {
  .store-item {
    --store-indent: 32px;
  }
}


.store-content {
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  .store-content {
    margin-top: 16px;
  }
}

.store-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--color-black);
  margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .store-item-name {
    font-size: 32px;
    line-height: calc(39 / 32);
    margin-bottom: 8px;
  }
}

.store-item-desc {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: var(--color-black);
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .store-item-desc {
    font-size: 24px;
    line-height: calc(29 / 24);
  }
}

/* Store Button */
.store-btn {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 208px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
}

@media screen and (min-width: 768px) {
  .store-btn {
    font-size: 28px;
    line-height: 24px;
    width: 280px;
    padding: 20px 0px;
  }
}
