<section class="section-about">
  <div class="container">
    <h2 class="title-about">ABOUT</h2>
    <div class="all-in-about">
      <div>
        <p class="txt-about">
          We are a minimalistic flower studio. We love people and flowers.
          Therefore, every day we give people the beauty and joy creating
          stylish and modern masterpieces. Every bouquet we create is unique as
          you are.
        </p>
      </div>
      <div class="img-about">
        <picture>
          <source
            srcset="../img/about-images/image_about_desk.png"
            media="(min-width:1280px)"
          />
          <source
            srcset="../img/about-images/image_about_tab.png"
            media="(min-width:768px)"
          />
          <img
            src="../img/about-images/image_about_mob.png"
            alt="two beautiful pink flowers"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
