<!-- section Blog (start) -->

<section class="blog">
    <div class="container">
        <h2 class="title-common">Blog</h2>
        <div class="blog-inner">
            <div class="flower-slider mySwiper">
                <div class="swipper-wrapper">
                    <div class="flower-slider-item swipper-slide">
                        <img src="../img/blog/flower1_mobile_@1x.jpg" alt="photo slide 1">
                    </div>
                    <div class="flower-slider-item swipper-slide">
                        <img src="../img/blog/flower2_mobile_@1x.jpg" alt="photo slide 1">
                    </div>
                </div>
            </div> 
            <div class="follow">
                <p class="follow-text">Follow to our newsletter</p>
                <button type="button" class="btn-common follow-btn">Subscribe</button>
            </div>
        </div>
    </div>
</section>














<!-- section Blog (end) -->