<!-- section Blog (start) -->

<section class="blog" id="blog-section">
    <div class="container">
        <h2 class="title-common">Blog</h2>
        <div class="flower-swipe responsive">
            <div class="flower-swipe-item" >
                <img src="./img/blog/flower1_mobile_@1x.jpg"  alt="photo slide 1">
            </div>
            <div class="flower-swipe-item">
                <img src="./img/blog/flower2_mobile_@1x.jpg" alt="photo slide 1">
            </div>
            <div class="flower-swipe-item">
                <img src="./img/blog/flower3_mobile_@1x.jpg" alt="photo slide 1">
            </div>
            <!-- <div class="flower-swipe-item">
                <img src="./img/blog/flower1_mobile_@1x.jpg" alt="photo slide 1">
            </div>
            <div class="flower-swipe-item">
                <img src="./img/blog/flower2_mobile_@1x.jpg" alt="photo slide 1">
            </div>
            <div class="flower-swipe-item">
                <img src="./img/blog/flower3_mobile_@1x.jpg" alt="photo slide 1">
            </div> -->

        </div>
        <div class="follow">
            <p class="follow-text">Follow to our newsletter</p>
            <button type="button" class="btn-common follow-btn">Subscribe</button>
        </div>
    </div>
</section>














<!-- section Blog (end) -->