<section class="delivery-section">
  <div class="container">
    <h2 class="title-common">DELIVERY</h2>
    <ul class="delivery-list">
      <li class="delivery-items">
        <h3 class="number">1</h3> 
        <p class="delivery-text"> Choose your bouquet and make an order on website</p>
      </li>
      <li class="delivery-items">
        <h3 class="number">2</h3>
        <p class="delivery-text"> Wait for the call to clarify the details of the order. You can pay online or to the courier</p>
      </li>
      <li class="delivery-items">
        <h3 class="number">3</h3>
        <p class="delivery-text"> Wait for the delivery at the selected time or pick up the order from the store</p>
       </li>
      <li class="delivery-items">
        <h3 class="number">4</h3>
        <p class="delivery-text"> Make someone happy or enjoy yourself</p>          
        </li>              
    </ul>
       <div class="qwe">

       </div>
  </div>

  <!-- <img class="delivery-img" src="../img/delivery/mob@1x.jpg" alt=""> -->
</section>
