<footer class="footer">
    <div class="footer-studio container">
        <div class=" footer-logo-box">
            <ul class="footer-nav-list footer-list-logo">
            <li class="footer-logo">
                <a href="#" class="footer-logo-anemone" >
                <svg class="footer-logo-link" width="73" height="57">
                    <use href="./img/icons/icons.svg#icon-mobile_logo"></use>
                </svg>
                </a>
            </li>
            </ul>
        </div>
        <div class=" navigator-menu">
            <h3 class="footer-block-name">Navigation</h3>
            <nav class="footer-block-nav">
                <ul class="footer-nav-list">
                    <li class="footer-nav-link"><a href="#hero-section" class="footer-nav-item">Anemone</a></li>
                    <li class="footer-nav-link"><a href="#about-section" class="footer-nav-item">About us</a></li>
                    <li class="footer-nav-link"><a href="#store-section" class="footer-nav-item">Store</a></li>
                    <li class="footer-nav-link"><a href="#delivery-section" class="footer-nav-item">Delivery</a></li>
                </ul>
            </nav>
        </div>
        <div class="worker-time">
            <h3 class="footer-block-name opening-times">Opening times</h3>
            <p class="working-times"> Every day <br>
            9:00 - 22:00
            </p>
        </div>
        <div class="footer-contacts">
            <h3 class="footer-block-name">Contacts</h3>
            <ul class="footer-contact-list">
                <li class="footer-tel"><a href="tel:+380631234567">+38 063 123 45 67</a></li>
                <li class="footer-mail"><a href="mailto:anemonestudio@example.com">anemonestudio<br>@example.com</a></li>
                <li class="footer-adress">Reitarska Street, 11<br> Kyiv, Ukraine</li>
            </ul>
        </div>
        <div class="footer-social">
            <ul class="social-networks list">
                <li class="social-networks-item ">
                    <a href="#" class="social-networks-link link">
                    <svg class="social-networks-icon" width="28" height="28">
                    <use href="./img/icons/icons.svg#icon-facebook"></use>
                    </svg>
                    </a>
                </li>
                <li class="social-networks-item">
                    <a href="#" class="social-networks-link link">
                    <svg class="social-networks-icon" width="28" height="28">
                    <use href="./img/icons/icons.svg#icon-instagram"></use>
                    </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>