<section class="header">
  <div class="container container-header">
    <a href="#"
      ><svg class="logo-header" width="45" height="35">
        <use href="../img/icons/icons.svg#icon-mobile_logo"></use></svg
    ></a>
    <nav class="page-nav">
      <ul class="menu">
        <li class="menu-item">
          <a class="header-link" href="#hero">Anemone</a>
        </li>
        <li class="menu-item">
          <a class="header-link" href="#about">About us</a>
        </li>
        <li class="menu-item">
          <a class="header-link" href="#store">Store</a>
        </li>
        <li class="menu-item">
          <a class="header-link" href="#delivery">Delivery</a>
        </li>
        <li class="menu-item">
          <a class="header-link" href="#blog">Blog</a>
        </li>
      </ul>
    </nav>
    <div class="header-menu">
      <address class="call">
        <a href="#"
          ><svg class="phone-icon" width="20" height="20">
            <use href="../img/icons/icons.svg#icon-mob_tel"></use></svg
        ></a>
      </address>
      <button
        type="button"
        class="mobile-menu-open js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="mobile-menu-burger" width="24" height="24">
          <use href="../img/icons/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
