<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="button-menu-close" width="24" height="24">
      <use href="../img/icons/icons.svg#icon-burger_close"></use>
    </svg>
  </button>

  <nav class="page-nav-mobile">
    <ul class="menu">
      <li class="menu-item-mobile"><a href="#hero">Anemone</a></li>
      <li class="menu-item-mobile"><a href="#about">About us</a></li>
      <li class="menu-item-mobile"><a href="#store">Store</a></li>
      <li class="menu-item-mobile"><a href="#delivery">Delivery</a></li>
      <li class="menu-item-mobile"><a href="#blog">Blog</a></li>
    </ul>
  </nav>
</div>
