<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-close" width="12" height="12">
      <use href="../img/icons/icons.svg#icon-burger_close"></use>
    </svg>
  </button>

  <nav class="page-nav-mobile">
    <ul class="menu-mobile">
      <li class="menu-item-mobile">
        <a class="mobile-link" href="#hero">Anemone</a>
      </li>
      <li class="menu-item-mobile">
        <a class="mobile-link" href="#about">About us</a>
      </li>
      <li class="menu-item-mobile">
        <a class="mobile-link" href="#store">Store</a>
      </li>
      <li class="menu-item-mobile">
        <a class="mobile-link" href="#delivery">Delivery</a>
      </li>
      <li class="menu-item-mobile">
        <a class="mobile-link" href="#blog">Blog</a>
      </li>
    </ul>
  </nav>
</div>
